body{
    display: grid;
    height:100vh;
    width: 100vw;
    grid-template-rows: 20vh 80vh;
    grid-template-areas:
   'hd '
   'mn ';

   background-color: aliceblue;
}

header{
grid-area:hd;
background-color: white;
text-align: center;
font-size: xx-large;
margin-bottom: 20px;
margin-left: 20px;
margin-right: 20px;
position: relative;
border-radius: 10px;
background-image: url(../img/africaorange.png);
background-repeat: no-repeat;
background-position-x: center;
}

@property --angle{
    syntax:"<angle>";
    initial-value: 0deg;
    inherits: false;
}

#header::after, header::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left:50%;
    translate:-50% -50%;
    z-index: -1;
    padding: 10px;
    border-radius: 10px;
    background-image: conic-gradient(from var(--angle),transparent 50%,#f39c12);
    animation: 5s spin linear infinite;

}

#header::before{

    filter:blur(10rem);
    opacity: 1;
 
}

@keyframes spin{
    from{
--angle:0deg;
    }
    to{
--angle:360deg;
    }
}

main{
    grid-area: mn;
background-image: url();
background-repeat: no-repeat;
background-size: cover;

}

.container{
    display: flex;
    flex-wrap: wrap;
}

.container main{
background-color:transparent;
width: 30vw;
height: 30vh;
margin: 10px;
padding: 20px;
font-size: 30px;
border-color: black;
border-radius: 10px;



}

#item1{
    background-image: url(https://cdn.mos.cms.futurecdn.net/7YrobQvFFzw8aWsAUtoYXB.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    font-size: xxx-large;
}

#item2{
    background-image: url(https://www.worldatlas.com/r/w1200/upload/92/ab/30/atlasmountains.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

#item3{
    background-image: url(https://travel.com/wp-content/uploads/2025/05/Serengeti-National-Park-Tanzania-Best-Things-to-Do-Top-Picks.webp);
    background-size:cover;
    background-repeat: no-repeat;
}

#item4{
    background-image: url(https://media.istockphoto.com/id/671323338/photo/clifton-beach-without-people-in-the-late-afternoon.jpg?s=612x612&w=0&k=20&c=Nh3uMGmTPXTGcbOHiwGC8Sti6XF3LmdaPFG--k1wtqM=);
    background-size:cover;
    background-repeat: no-repeat;
}

#item5{
    background-image: url(https://images.goway.com/production/hero/iStock-947818974.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

#item6{
    background-image: url(https://i.pinimg.com/originals/bc/43/98/bc43988c5de55507f7817ac3b1647e95.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

