body{
    display: grid;
    height:100vh;
    width: 100vw;
    grid-template-rows: 10vh 90vh;
    grid-template-areas:
   'hd'
   'mn ';

   background-color: transparent;
}

header{
    grid-area: hd;
    background-color: #f39c12;
    color: white;
    text-align: center;
    font-size: 100px;
    margin-top: 5px;
   
}

main{
    grid-area: mn;
    background-color:white;
}




.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.container main{
background-color:lightskyblue;
width: 30%;
height: 93%;
margin: 20px;
padding: 20px;
font-size: 30px;
border-color: black;
border-radius: 10px;

}

#item1{
    color:white;
    font-size: 40px;
   text-align: center;
   background-image: url(../img/shutterstock-2409522421.jpg);
    
}

#item2{
    color: white;
    font-size: 40px;
    text-align: center;
    background-image: url(../img/giza-pyramids-cairo-egypt-with-palm1.jpg);
}

#item3{
    color: white;
    font-size: 40px;
    text-align: center;
    background-image: url(../img/Alexandria-Egypten2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.flyg{
font-size: 100px;
    font-family:'Times New Roman', Times, serif;
}

.container .card .icon {

    position: absolute;

    top: 0;

    left: 0;

    width: 150%;

    height: 100%;

    background: #f39c12;
    

}

.container .card .icon .fa {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 80px;

    color:white;

}

.container .card .slide {


    width: 60%;

    height: 200px;

    transition: 0.5s;

}

.container .card .slide.slide1 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 1;

    transition: .7s;

    transform: translateY(100px);

    

}

.container .card:hover .slide.slide1{

    transform: translateY(0px);
    height: 300px;

}

.container .card .slide.slide2 {
    position: relative;

    display: flex;

    justify-content: center;

color: black;

font-size: 50px;

    align-items: center;

    padding: 20px;

    box-sizing: border-box;

    transition: .8s;

    transform: translateY(-100px);

    box-shadow: 0 20px 40px rgba(0,0,0,0.4);

    



}

.container .card:hover .slide.slide2{

    transform: translateY(0);

}

.container .card .slide.slide2::after{

    content: "";

    position: absolute;

    width: 100px;

    height: 4px;

    bottom: 15px;

    left: 50%;

    left: 50%;

    transform: translateX(-50%);

    background: #f39c12
    

}

.container .card .slide.slide2 .content p {

    margin: 0;

    padding: 0;

    text-align: center;

   


}

.container .card .slide.slide2 .content h3 {

    margin: 0 0 10px 0;

    padding: 0;

    font-size: 24px;

    text-align: center;

   color: black;

}   


#orangetravel{
    width: 400px;
    height: 125px;
    position: absolute;
    top: 0px;
    left: 50px;
}

#nav{
    position: absolute;
    right: 50px;
    top: 35px;
    font-size: 100px;
    color:white;
}

#nav:hover{
transform:scale(110%)
}