body{
    display: grid;
    height:100vh;
    width: 100vw;
    grid-template-rows: 10vh 90vh;
    grid-template-areas:
   'hd'
   'mn ';

   background-color: transparent;
}

header{
    grid-area: hd;
    background-color: aquamarine;
    color: white;
    text-align: center;
    font-size: 100px;
   
}

main{
    grid-area: mn;
    background-color:white;
}




.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.container main{
background-color:lightskyblue;
background-image: url(https://wallpapers.com/images/hd/4k-minimalist-orange-aesthetic-forest-4dy7tgghgni5mwwc.jpg);
width: 30%;
height: 93%;
margin: 20px;
padding: 20px;
font-size: 30px;
border-color: black;
border-radius: 10px;

}

#item1{
    color:white;
    font-size: 40px;
   text-align: center;
    
}

#item2{
    color: white;
    font-size: 40px;
    text-align: center;
}

#item3{
    color: white;
    font-size: 40px;
    text-align: center;
}


.flyg{
font-size: 100px;
    font-family:'Times New Roman', Times, serif;
}