body{
    display: grid;
    height:100vh;
    width: 100vw;
    grid-template-rows: 10vh 90vh;
    grid-template-areas:
   'hd'
   'mn ';

   background-color: transparent;
}

header{
    grid-area: hd;
    background-color: aquamarine;
   
}

main{
    grid-area: mn;
    background-color: blueviolet;
}




.container{
    display: flex;
    flex-wrap: wrap;
}

.container main{
background-color:lightskyblue;
width: 70%;
height: 20%;
margin: 0px;
padding: 00px;
font-size: 30px;
border-color: black;
border-radius: 10px;
}

#item1{
    color: lightyellow;
   
    
}

#item2{
    color: lightyellow;
}

#item3{
    color: lightyellow;
}